<div class="text-center">
  <h1>Welcome to Big Brother</h1>

  <br>

  This app allows you to check all Pull Requests from all your organizations or repositories at just one place.

  <br>
  <br>

  <%= link_to icon('github fa-fw') + 'Log In with Github', login_path, class: "btn btn-default" %>
</div>
