<h1>
  <%= @org %> - Repositories and Pull Requests
</h1>

<%= link_to "Back to orgs", organizations_path %>

<br>
<% @repos.each do |repo| %>
  <br>
  <br>
  <strong>
    <%= repo[:name] %>
  </strong>

  <br>

  <% repo[:pull_requests].each do |pr| %>
    <%= link_to "#{pr[:number]} - #{pr[:title]}", pr[:html_url] %>
    <br>
  <% end %>

  <% if repo[:pull_requests].blank? %>
    <p>
      No PRs here!
    </p>
  <% end %>


<% end %>
